/* Typography */


/* Header section */

.nav-min a:nth-child(1) {
	font: 1.2rem/1.2 Roboto;
}

.nav-max a {
	font: .8rem/1.2 Roboto;
}


/* Hero section */

.hero-content .h1 {
	font: 400 2rem/1.2 Roboto;
}

.btn-cta {
	font: 1.2rem/1.4 Roboto;
}

.hero-content a {
	font: 1rem/1.2 Roboto;
}


/* Promo section */

.col .h2,
.col-item .h2 {
	font: 400 1.2rem/1.4 Roboto;
}

.col .h3,
.col-item .h3 {
	font: 400 1rem/1.6 Roboto;
}

.col p,
.col-item p {
	font: .8rem/1.6 Roboto;
}


/* Subhero section */

.btn {
	font: .8rem/1.2 Roboto;
}


/* Footer section */

.footer-content .col .list {
	font: .8rem/1.6 Roboto;
}


/* About section */

.about-content p {
	font: .8rem/1.2 Roboto;
}