body{
	margin: 0;
}

a{
	text-decoration: none;
}

h1, h2, h3, p{
	margin-top: 0;
	margin-bottom: 0;
}

.main{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	background-color: rgba(255, 255, 255, .9);
}

.icon{
	height: 24px;
	width: 24px;
	background: center/24px no-repeat transparent;
	border: 0;
	cursor: pointer;
}

.ic-menu{
	background-image: url(assets/ic_menu_black_48px.svg);
}

.cta-btn{
	font: 1.2rem/1.4 Roboto;
	background-color: #2098f5;
	border: 0;
	cursor: pointer;
	transition: background-color 400ms ease-out;
}

.cta-btn:hover{
	background-color: #288EDF;
}

.hero-wrapper{
	background-color: #f0f2f3;
	min-height: calc(100vh - 50px);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.content-wrapper{
	display: flex;
	background-color: #dee9f1;
	flex-direction: column;
}

.col{
	display: flex;
	flex-direction: column;
}

.col p{
	font: .8rem/1.6 Roboto;
}

.btn{
	border: 1px solid #94d0ff;
	background-color: transparent;
	cursor: pointer;
	font: .8rem/1.2 Roboto;
	transition: background-color 400ms ease-out;
}

.btn:hover{
	background-color: #fff;
}

.footer{
	background-color: #13181b;
}

.footer ul{
	color: #5f6569;
	list-style-position: inside;
	font: .8rem/1.6 Roboto;
}

.about p{
	color: #a6aab2;
	font: .8rem/1.2 Roboto;
}

.h1{
	font: 400 2rem/1.2 Roboto;
}

.h2{
	font: 400 1.2rem/1.4 Roboto;
}

.h3{
	font: 400 1rem/1.6 Roboto;
}

.link{
	font: 1rem/1 Roboto;
}

.list{
	padding-left: 0;
	margin: 0 0;
}

.pd-1{
	padding: 1rem;
}

.pd-2{
	padding: 2rem;
}

.pt-3{
	padding-top: 3rem;
}

.pr-1{
	padding-right: 1rem;
}

.pb-2{
	padding-bottom: 2rem;
}

.pb-3{
	padding-bottom: 3rem;
}

.pl-1{
	padding-left: 1rem;
}

.mb-1{
	margin-bottom: 1rem;
}

.mb-2{
	margin-bottom: 2rem;
}

.text-center{
	text-align: center;
}

.color-dark{
	color: rgba(0, 0, 0, .9);
}

.color-dark-6{
	color: rgba(0, 0, 0, .6);	
}

.color-white{
	color: #fff;
}

.color-blue{
	color: #2098f5;
}

.color-light-blue{
	color: #98d2ff;
}